@font-face {
  font-family: "M+1 Heavy";
	src: url("/docs/fonts/mplus-1p-heavy.eot");
 	src: local("M+ 1p heavy"), local("mplus-1p-heavy");
	src: url("/docs/fonts/mplus-1p-heavy.ttf");
}

@font-face {
	font-family: "M+2 Light";
	src: url("/docs/fonts/mplus-2p-light.eot");
 	src: local("M+ 2p light"), local("mplus-2p-light");
	src: url("/docs/fonts/mplus-2p-light.ttf");
}

ul, ol { list-style-type: none; }



header {
	span { display: block; }
	span[lang="en"] { font-size: 1em; font-family: "M+2 Light"; }
	span[lang="jp"] { font-size: 2em; font-family: "M+1 Heavy"; }
	a { text-decoration: none; color: black; }
}

footer {
	font-size: 0.8em; color: #999;
}


section#wrapper { margin: 0 auto; width: 950px; }

