

ul, ol { list-style-type: none; }



header {
	span { display: block; }
	span[lang="en"] { font-size: 1em; font-family: "M+ 2p"; }
	span[lang="jp"] { font-size: 2em; font-family: "M+ 1p"; }
	a { text-decoration: none; color: black; }
}

footer {
	font-size: 0.8em; color: #999;
}
article {	width: 5em; }

section#wrapper { margin: 0 auto; width: 950px; }

