<!DOCTYPE html>
<html>
  {{> shared/head}}
  <body id="{{slug}}" class="default">
    <section id="wrapper">
      {{> shared/header}}
      {{> shared/nav}}
    
      <section id="content">
        <h2>{{title}}</h2>
        <article>
          {{{body}}}
        </article>
      </section>
    </section>
  </body>
</html>