<!DOCTYPE html>
<html>
  {% include 'shared/head' %}
  <body id="{{slug}}" class="default">
    <section id="wrapper">
      {% include 'shared/header' %}
      {% include 'shared/nav' %}
    
      <section id="content">
        <h2>{{title}}</h2>
        <article>
          {{body}}
        </article>
      </section>
    </section>
    {% include 'shared/footer' %}
    {% include 'shared/analytics' %}
    <script src="/docs/js/jquery.js" type="text/javascript"></script>
    <script src="/docs/js/tracking.js" type="text/javascript"></script>
  </body>
</html>