<!DOCTYPE>
<html>
  {{> shared/head}}
  <body id="{{slug}}" class="toc">
    <section id="wrapper">
      {{> shared/header}}
      {{> shared/nav}}
    
      <section id="content">
        <h2>{{title}}</h2>
        <article>
        </article>
        
        <nav id="subnavigation">
          <ul>
            {{# children}}
              <li><a href="{{permalink}}">{{name}} - {{title}}</a></li>
            {{/ children}}
          </ul>
        </nav>
      </section>
      {{> shared/breadcrumbs }}
    </section>
    {{> shared/footer}}
  </body>
</html>