<!DOCTYPE>
<html>
  {{> shared/head}}
  <body id="{{slug}}" class="toc">
    <section id="wrapper">
      {{> shared/header}}
      {{> shared/nav}}
    
      <section>
        <h2>{{title}}</h2>
        <article>
        </article>
        
        <nav id="subnavigation">
          {{# children}}
            <a href="{{permalink}}">{{name}}</a>
          {{/ children}}
        </nav>
      </section>
      {{> shared/footer}}
    </section>
  </body>
</html>