<footer>
  <p>Bonsai is written by <a href="http://www.germanforblack.com/about" rel="author">Ben Schwarz</a> and is available via the MIT LICENCE.</p>
  <p>Source code is availble on <a href="http://github.com/benschwarz/bonsai">Github</a></p>
</footer>