<footer>
  <p>Bonsai, written by <a href="http://www.germanforblack.com/about" rel="author">Ben Schwarz</a>. Available via the MIT LICENCE. Get the <a href="http://github.com/benschwarz/bonsai">source</a></p>
</footer>