<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Bonsai, a tiny static web site generator - {{title}}</title>
  <meta name="keywords" content="ruby, static, website, web, site, generator, portfolio, free, open source, oss, simple, elegant, software, cms, content management, humane, flexible, easy-to-use">
  <meta name="description" content="A tiny static web site generator">
  <meta name="google-site-verification" content="dUUTNejHlDOk3LhVnN58eNChhRdfLbCgskXT2ICnvzY">
  <link rel="stylesheet" href="/docs/css/base.css" type="text/css">
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>