<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Bonsai, a tiny static web site generator - {{title}}</title>
  <meta name="keywords" content="ruby, static, website, web, site, generator">
  <meta name="description" content="An elegant static web site generator">
  <link rel="stylesheet" href="/docs/css/base.css" type="text/css" charset="utf-8">
</head>